<div class="p-3 mb-2 bg-light text-dark">

  <div id="<%= dom_id friend %> , ">
    <p>
      <h1 class="display-4">
      <%= friend.first_name %>
      <%= friend.last_name %></h1>

    </p>
    <p>
      <%= friend.email %>  |
      <%= friend.phone %>  |
      <%= friend.twitter %>  
    </p>

  </div>
</div>








